.education{
    p{
        margin-top: 24px;
        font-size: 24px;
        font-weight: 300;
        font-family: "PingFangTC-Medium", sans-serif;
    }
    #formb{
        margin-bottom: 72px;
    }
}