.work-experience{
    ul{
        border-left: 1px solid lightgray;
        margin-top: 24px;
        margin-left: 24px;
        padding-left: 24px;
        margin-bottom: 72px;
        li{
            margin-bottom: 32px;
            font-size: 24px;
            font-weight: medium;
            img{
                margin-top: 8px;
            }
            p{
                font-size: 20px;
                font-weight: normal;
                line-height: 1.5;
            }
        }
    }
}